.container { 
    h3 {
        font-weight: bold;
    }

    .message {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    #confirmButtonDiv {
        margin-top: 10px;

        button:hover {
            background-color: var(--primary-dark);
        }
    }
}