#header {
    padding: 10px 30px;

    #FMFLogo {
        width: 75px;
        height: 75px;
    }

    #FMFName {
        font-size: 40px;
        font-weight: bold;
        margin-left: 15px;
        margin-top: 10px;
    }

    mat-icon {
        cursor: pointer;
        font-size: 30px;
        margin-top: -15px;
        color: var(--primary-dark);
    }
}

#body {
    width: 100vw;
    margin-top: 20px;

    #innerBodyDiv {
        width: 75vw;
        
         .bodyText{ 
             font-weight: bold;
             font-size: 15px;
         }

         #marketList {
             margin-top: 40px;

             #controls {
                 button {
                    background-color: var(--secondary);
                    font-weight: bold;
                    padding-right: 30px;
                    padding-left: 30px;
                    height: 36px;
                    margin-left: 15px;
                 }

                p {
                    color: var(--primary);
                    margin-top: 10px;
                }
             }

             #resultsPane {
                 margin-top: 20px;

                 

                 .mat-expansion-panel-header {
                     padding: 5px 10px;
                     height: auto;
                    
                     &:hover {
                         background-color: var(--primary-light);
                         .notFavorite {
                             visibility: visible;
                         }
                     }
                 }

                 .marketItem {
                     width: 100%;
                     padding: 5px 10px;
                     cursor: pointer;
                     border-radius: 5px;

                     &:hover {
                         background-color: var(--primary-light);

                         .notFavorite {
                             visibility: visible;
                         }
                     }

                     .marketIcon {
                         margin-right: 15px;
                     }

                     .marketName {
                         font-weight: bold;
                         margin-bottom: 0;
                     }

                     .marketDistance {
                         font-weight: normal;
                         color: var(--primary-dark);
                         margin-bottom: 0;
                     }

                     .notFavorite {
                         margin-left: 10px;
                         margin-right: 10px;
                         visibility: hidden;
                         color: grey;
                         font-size: 30px;

                         &:hover {
                             color: var(--secondary);
                         }
                     }

                     .favorite {
                         margin-left: 10px;
                         margin-right: 10px;
                         color: var(--secondary);
                         font-size: 30px;

                         &:hover {
                             color: grey;
                         }
                     }
                 }

                 .marketDetails{
                     margin-top: 10px;

                     mat-icon{
                         margin-right: 10px;
                     }

                     .title {
                         margin-bottom: 0;
                         font-weight: bold;
                         font-size: 16px;
                     }
                 }
             }
         }
    }
}

@media(max-width: 770px) {
    #header {
        #FMFName {
            font-size: 30px;
        }
    }
    
    #body {
        #innerBodyDiv {
            width: 90vw;

            .notFavorite {
                visibility: visible !important;
            }
        }
    }
}

@media(max-width: 420px) {
    #header {
        #FMFLogo {
            width: 50px;
            height: 50px;
        }
        #FMFName {
            font-size: 20px;
        }
    }

    #body {
        #innerBodyDiv {
            p {
                font-size: 14px;
            }

            #marketList{
                #controls {

                    button {
                        padding-left: 16px;
                        padding-right: 16px;
                    }

                    p {
                        margin-top: -5px;
                        margin-bottom: -5px;
                    }

                    #zipCodeForm {
                        width: 100%;
                    }

                    #locationSearchBtn {
                        margin: 15px 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}