<h2>About FMF (Farmer's Market Finder)</h2>
<p>This application was constructed using an ASP.NET Core Web API.</p>
<p>The API uses Entity Framework Core and an Azure SQL Database</p>
<p>The front-end (this site) is created using Angular 9 and Material Design Components</p>
<p>With this application, you're able to use either a zip code or your current location to find Farmers' Markets near you.</p>
<p>The list is ordered by distance, and you're able to view details about each farm when clicked on, and favorite the ones you like.</p>
<p>On top of storing and retrieving information about the markets in the SQL Database, all user actions are stored in the database as well, for audit and tracking reasons.</p>
<p>For extras, check out the <a href="https://trello.com/b/T5xt0Bd0/farmers-market" target="_blank">Trello Board</a> that was used to create this project.</p>
<button mat-raised-button (click)="close()">Close</button>
